<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>loltrackr - team builder</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:700,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="loltrackrApp">
    <header id="header">
      <nav class="top">
        <div class="logo">
          <a ng-href="/#">loltrackr</a>
        </div>
        <div class="menu">
          <ul>
            <li><a ng-href="#/">home</a></li>
            <li><a ng-href="#/team-builder">create team</a></li>
            <li><a ng-href="#/team-builder/stats">stats</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div id="main">
      <%= yield %>
    </div>

    <footer>
      <nav class="contact">
        <div class="menu">
          <ul>
            <li><a target="_blank" href="http://www.twitter.com/jonrogozen">twitter</a></li>
            <li><a target="_blank" href="https://github.com/jrogozen">github</a></li>
          </ul>
        </div>
      </nav>
    </footer>
    <%= javascript_include_tag "application" %>

  </body>
</html>