<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>loltrackr</title>

    <link href='http://fonts.googleapis.com/css?family=Fjalla+One|Roboto:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="loltrackrApp">
    <header id="header">
      <div class="row">
        <div class="small-12 columns">
          <div class="logo">
            <a ng-href="/#">loltrackr</a>
          </div>
        </div>
      </div>
      <nav class="top">
        <div class="row">
          <div class="small-12 columns">
          <div class="menu">
            <ul>
              <li><a ng-href="#/">home</a></li>
              <li><a ng-href="#/videos/">videos</a>
                <ul>
                  <li><a ng-href="#/videos/new/">add new</a></li>
                </ul>
              </li>
              <li><a ng-href="#/team-builder">team builder</a>
                <ul>
                  <li><a ng-href="#/team-builder">create team</a></li>
                  <li><a ng-href="#/team-builder/stats">stats</a></li>
                </ul>
              </li>
            </ul>
          </div>

          <div ng-controller="SearchCntrl" class="search">
            <form ng-init="search = {}" ng-submit="find(search)">
              <input ng-model="search.query" type="text" placeholder="search..."/>
            </form>
          </div>
          </div>
        </div>

      </nav>
    </header>

    <div id="main">
      <%= yield %>
    </div>

    <footer>
      <nav class="contact">
      <div class="row">
        <div class="small-12 columns">
          <div class="menu">
            <ul>
              <li><a target="_blank" href="http://www.twitter.com/jonrogozen">twitter</a></li>
              <li><a target="_blank" href="https://github.com/jrogozen">github</a></li>
            </ul>
          </div>
        </div>
      </div>
      </nav>
    </footer>
    <%= javascript_include_tag "application" %>

  </body>
</html>